<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>{{finance.id}}</td>
                <td>{{finance.date}}</td>
                <td>{{finance.name}}</td>
                <td>{{finance.summ}} руб</td>
            </tr>
        </tbody>
    </table>
</div>