<form role="form">
    <div for class="form-group">
        <label for="">
        <input type="text" name="comment" [(ngModel)]="financeName" class="form-control" placeholder="Комментарий">
        </label>
        <input type="number" name="summ" [(ngModel)]="financeSumm" class="form-control" placeholder="Сумма"><br>
        <button type="button" class="btn" (click)="onAdd()">Добавить</button>
    </div>
</form>