<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Таблица</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}">Форма для добавления</button>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="settingActive == 1">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <app-finance [finance]="c" *ngFor="let c of finance"> </app-finance>
            </div>
        </div>
    </div>
</div>
<div *ngIf="settingActive == 2">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <app-finance-forms (addFinance)="onAdd($event)"></app-finance-forms>
            </div>
        </div>
    </div>
</div>